<h1>What We Do</h1>
<div id="min_width">
After years of forgetting to get stuff done, we sat down and looked at what
the short comings of standard life management solutions were and came up with a wishlist of things
that would make our lives easier. With the wishlist in hand, we got to work and started building our dream app.
Everything that makes our life easier is what made this site what it is. Its really born out of a necessity for what we need in our own lives here at lifehelpr.com. We all use lifehelpr.com everyday and love everything about it.<br/>
<br/>
We hope you do to.
</div>