<h1>Help</h1>
<div id="min_width">
	<h2>Q: What is LifeHelpr?</h2>
	<div class="answer">A: An easy to use list maker to keep your life in order. More info on the <%=link_to("about", :action=>:about)%> page.</div>
	<div class="pad15"></div>
	<h2>Q: Why can't I make multiple Todo Lists?</h2>
	<div class="answer">A: Having a central singular todo list makes things easier in the long run. We provide categories for you to categorize todo items in to a sort-of "sublist" for easier viewing.</div>
</div><!--min_width-->