<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Beta Invite</title>
	</head>
	<body bgcolor="#eeeeee">
		<div id="back" style="background:#eee;">
			<div id="container" style="margin:auto;width:600px;min-height:400px;background:#ffffff;border:1px solid #333;padding:5px;font-family:helvetica;">
				<div id="logo" style="margin:auto;text-align:center"><img src="http://static0.lifehelpr.com/images/logo_small_head.png" alt="LifeHelpr"/></div>
				<div id="main" style="margin-top:10px;padding:5px;">
					<div id="intro" style="font-weight:bold;padding-bottom:10px;">Hello <%=@friend_name%>,</div>
					
					Your friend <b><%=@from_name%></b> thought you would benefit from an easier life and decided to invite you to become a beta member of LifeHelpr.com. Consider yourself in the fold
					<div id="infobox" style="background:#FFC; border: 1px solid #aaaaaa; padding:4px; margin-top: 20px; font-weight:bold; font-size:15px">
					Your beta code is: 1234dsaf<br/><br/>
					You can go to: <a href="http://<%=@host%>/register?beta_token=<%=@beta_invite.beta_token%>&email=<%=@beta_invite.email_address%>">http://<%=@host%>/register?beta_token=<%=@beta_invite.beta_token%>&email=<%=@beta_invite.email_address%></a> to sign up.
					</div>

					<div id="sin" style="font-weight:bold; margin-top:20px;">Sincerly,</div>
					<div id="sig" style="font-size:16px; padding-left:6px;">LifeHelpr.com</div>
					</div>
					<div id="tag" style="font-size:14px; font-weight:bold;"><a style="text-decoration:none;"href="http://lifehelpr.com">lifehelpr.com</a></div>
					<div id="footer" style="border-top:2px solid #333; font-size:14px; padding-left: 10px; padding-top:2px;">
					<%=@footer['html']%>
					</div>
					<div id="optout" style="font-size:9px; color:#555555; font-weight:none; padding:10px;">
					This email has been sent to <%=@beta_invite.email_address%><br/>
					You are receiving this email from a friend.
					</div>
					
					
				</div><!--main-->
			</div><!--container-->
		</div> <!--back-->

	</body>
</html>