Hello <%=@user.email%>,

Your todo item "<%=@todo.name%>" is due and has not been marked completed. you may want to finish the item, or if you have.. you should mark it complete to prevent these mails in the future

You can go to http://<%=@host%>/todos/view/<%=@todo.id%> to view your item or mark it complete.


Sincerly,
LifeHelpr.com

---
<%=@footer['plain']%>


This email has been sent to <%=@user.email%>