<h1>Reset Password</h1>
<div id="login">
<div id="loginform">
	<% form_for 'user' do |f|%>
		<table style="margin:auto;">
			<tr>
				<td align='left'>Username:</td>
			</tr>
			<tr>
				<td><%= f.text_field :login%></td>
			</tr>
			<tr>
				<td align="left">Email:</td>
			</tr>
			<tr>
				<td><%= f.text_field :email%></td>
			</tr>
			<tr>
				<td align='right'><%= f.submit "Send Reset"%></td>
			</tr>
		</table>
	<% end %>
</div>

</div>